{% load render_table from django_tables2 %}
<!doctype html>
<html>
    <head>
        <title>List of persons</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/css/datepicker3.css">
        <script src="https://code.jquery.com/jquery-2.2.4.js"></script>
        <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/js/bootstrap-datepicker.js"></script>
        <script type="text/javascript">
        	$(document).ready(function(){
        		$('select[name=pipline]').val("{{pipline}}")
        	});
        </script>
    </head>
    <body>
    	<div><center><h3>Pipline Scrapper</h3></center></div>
    	<form method="POST" action="/pipline/">
    		{% csrf_token %}
			<div class="row">
				<div class="col-md-4 col-md-offset-2">
					<select class="form-control" name="pipline">
					<option>ANR</option>
					<option>PEPL</option>
					<option>TIGT</option>
					<option>TPC</option>
					<option>Alliance</option>
					</select>
				</div>
				<div class="input-group date col-md-4" data-provide="datepicker">
	                <input type="text" class="form-control" id="data-date" name="date">
	                <div class="input-group-addon">
	                    <span class="glyphicon glyphicon-th"></span>
	                </div>
	            </div>
			</div>
			<div style="text-align: center;"> <button class="btn" type="submit">Search</button></div>
		</form>
		<div><center><h3><strong>PIPLINE:-</strong> {{pipline}} &nbsp;&nbsp;&nbsp;&nbsp;<strong>DATE:-</strong> {{date}}</h3></center></div>
        {% render_table table %}
    </body>
</html>

